extends layout

block content
    .jumbotron.text-center
        a(href="/docs/global.html")
            h2 Server API (By Matt and Nick)
        br
        br
        a(href="/docs/frontend-api-2.pdf")
            h2 Client Modules (By Ben and Jake)

