extends ../layout

block content
    .jumbotron.container
        h1(align='center') Module Documentation
        br
        a(href="/docs/global.html")
            h5 REST API (By Matt and Nick)
        a(href="/docs/frontend-api-2.pdf")
            h5 Mobile App Modules (By Ben and Jake)
        a(href="#")
            h5 Angular client (Coming soon)
