extends layout

block content
    .jumbotron.text-center
        h1= title
        p This is a simple website built with Node.js and the Pug template engine featuring a chat application using Socket.io. Styled with Pug-Bootstrap.
