extends layout

block content
    .container
        .jumbotron
            h2 Welcome to the chat
            br
            form(action='')
                .form-group
                    label() Message:
                    textarea#message.form-control(rows='5', placeholder='Say hello...')
                .form-group
                    input.btn.btn-primary(type='submit', value='Send')
        #messages

append scripts
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script.
        $(function () {
            var socket = io.connect('http://localhost:3000');
            $('form').submit(function () {
                socket.emit('chat message', $('#message').val());
                $('#message').val('');
                return false;
            });
            socket.on('chat message', function (msg) {
                $('#messages').prepend(`<h4>Anonymous</h4> <p>${msg}</p>`);
            });

        });
