extends layout

block content
    .container.text-center
        h2 Welcome to the chat
        br
        .container#messages
        br
        form(action='')
            .form-group
                label() Message:
                textarea#m.form-control(rows='5')
            .form-group
                input.btn.btn-primary(type='submit', value='Send')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script.
        $(function () {
            var socket = io.connect('http://localhost:3000');
            $('form').submit(function () {
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            socket.on('chat message', function (msg) {
                $('#messages').append($('<li>').text(msg));
            });
        });



