extends layout

block content
    .jumbotron.text-center
        a(href="/docs/global.html")
            h2 Server API
        br
        br
        a(href="/docs/frontend_api.pdf")
            h2 Client Modules

