extends layout
block content
    html(ng-app="home")
        head
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js")
            script(src='/javascripts/home.js')
            link(rel='stylesheet' href='/stylesheets/home.css', type='text/css')

        body
            h1(align='center') StringCenter
            div#sidenav.sidenav
                a#tabs(href="#") Tabs
                a#profile(href="#") Profile 
            div#page
                div(ng-view)                
                
                script(type='text/ng-template' id='/home')
                    div(ng-repeat='p in posts')
                        div.post
                            p.author Author: {{p.authorUsername}}
                            p.groupName Group: {{p.groupName}}
                            p.content {{p.content}}
                            p.date {{p.date}}                            
                script(type='text/ng-template' id='/tabs')
                script(type='text/ng-template' id='/profile')
                
