doctype html
html(lang="en", ng-app="StringCenter")
    head
        block head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport",content="width=device-width, initial-scale=1")
            meta(name="description",content="")
            meta(name="author",content="")
            link(rel="icon",href="../../favicon.ico")
            title= title
            block styles
                link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
                link(rel='stylesheet', href='/stylesheets/style.css', type='text/css' )

    body(data-spy="scroll", data-target=".scrollspy")
        block nav
            nav.navbar.navbar-expand.navbar-dark(style="background-color: #333333;")
                a.navbar-brand(href='') StringCenter
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar_menu', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbar_menu.navbar-collapse.collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/web/home') Home
                        li.nav-item
                            a.nav-link(href='/web/all-tabs') Tabs
                        li.nav-item
                            a.nav-link(href='/web/create-tab') Create Tab
                    ul.navbar-nav
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Account
                            .dropdown-menu(aria-labelledby='nav_menu')
                                a.dropdown-item(href='/web/sign-in') Sign In
                                a.dropdown-item(href='/web/sign-out') Sign Out
                                a.dropdown-item(href='/web/register') Register
                                a.dropdown-item(href='/web/edit-account') Preferences
                        li.nav-item
                            a.nav-link(href="/about") About
            br
        block content
        block footer
            .footer.text-center
                p @Copyright 2018 StringCenter

        block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")
            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js")
