extends ../node_modules/pug-bootstrap/_bootstrap

append head
append body
    block nav
        +navbar("StringCenter","dropdown_menu", "inverse")
            if nav === "home"
                +nav_item("/web/home", "active") Home
            else
                +nav_item("/web/home") Home
            if nav === "all-tabs"
                +nav_item("/web/all-tabs", "active") All Tabs
            else
                +nav_item("/web/all-tabs") All Tabs
            if nav === "create-tab"
                +nav_item("/web/create-tab", "active") Create Tab
            else
                +nav_item("/web/create-tab") Create Tab
            if nav === "docs"
                +nav_item("/documentation", "active") Documentation
            else
                +nav_item("/documentation") Documentation
    block content
    block footer

