extends layout
block content
    html(ng-app="tab" ng-controller="tabCtrl")
        head
            script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="/javascripts/tab.js")
            link(rel='stylesheet', href='/stylesheets/tab.css', type='text/css' )
            
        body(style='margin-bottom:30px')
            div#tabs.container-fluid
                h1#title(align='center') Tabs
                div#tab.tab(ng-repeat='tab in tabs')
                    p.tab-head {{tab.tab_name}}
                    p.author Author: {{tab.author_username}}
                    div(ng-repeat='m in tab.measures track by $index')
                        p.measure-info {{m.info}}
                        div(ng-repeat='s in m.strings') 
                            p.tab-elem {{s}}
                    
