extends layout

block content
    .jumbotron.text-center
        h1= title
        p This page can only be seen by authenticated users
        br
        p This is a simple website for testing the user backend for StringCenter.
